@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;

}
body{
    background-color: darkolivegreen;
}
header {
    
    padding: 32px;
    border-bottom: 10px saddlebrown solid;
    background-color:wheat;
}
#box{
    text-align: center;
    padding: 32px;
}

#box img{
    border-radius: 50%;
    border: 5px solid saddlebrown;
    margin-bottom: 32px;
}

#box h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}
#box h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}
#box p{
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

header div {
    text-align: center;
}
header div a{
    color:darkgreen;
    font-size: 25px;
    line-height: 30px;
    margin: 0 16px;
    text-decoration:dashed;
    font-family: "Besley", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}
header div a:hover{
color: saddlebrown;
transition: color 700ms;
}